* {
    margin: 0;
    padding: 0;

}

.header-work {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(232, 136, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}